html {
  width: 320px;
}
body {
  padding: 20px 0 15px 0;
  font-family: sans-serif;
  position: relative;
}

.success-alert {
  width:100%;
  height:100%;
}

.default-view {
  height:100%;
  width:100%;
}

.error-alert {
  width: 100%;
  height: 100%;
}

.candidate-success {
  color: #25AE88;
}

.candidate-error {
  color: #D75A4A;
}

.ig-brand {
  position: absolute;
  right: 0;
  bottom: -5px;
}

.ig-brand-button {
  height: 19px;
  width: 19px;
}

.icon-wrap {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  font-size:22px;
  position: relative;
  width: 100%;
}

.icon {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  display: block;
  position: relative;
  margin-bottom: 15px;
}

.description {
  width:250px;
  margin: 0 auto;
  margin-bottom:25px;
}

.default-message {
  color: #48A0DC;
}

.info {
  margin-bottom: 5px;
}

.candidate-info {
  margin: 0 auto;
  text-align: center;
  margin-bottom:15px;
  font-size:16px;
  font-weight: 300;
}

.restrak-link {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
}

.res-link {
  display: inline-block;
  outline: none;
}

.res-link:focus {
  outline:none;
}

.res-link:active {
  outline:none;
}
